<div class="admin-container">

  <!-- MENÚ LATERAL -->
  <aside class="admin-sidebar">

    <h2>👑 Panel Administrador</h2>

    <nav>

      <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">
        🏠 Dashboard
      </a>

      <a routerLink="usuarios" routerLinkActive="active">
        👤 Gestión de usuarios
      </a>

      <a routerLink="productos" routerLinkActive="active">
        📦 Productos & Stock
      </a>

      <a routerLink="categorias" routerLinkActive="active">
        📂 Categorías
      </a>

      <a routerLink="subcategorias" routerLinkActive="active">
        🗂 Subcategorías
      </a>

    </nav>

  </aside>

  <!-- CONTENIDO -->
  <main class="admin-content">
    <router-outlet></router-outlet>
  </main>

</div>
