<header class="header">
  <div class="left">
    <button class="hamburger" (click)="toggleMenu()">☰</button>
    <span class="logo">Cariño Mío</span>
  </div>

  <nav class="menu">
    <a routerLink="/">Inicio</a>
    <a routerLink="/productos">Productos</a>
  </nav>

  <a class="discount" routerLink="/descuentos">
    🔥Descuentos
  </a>


  <!-- 👜 CARRITO -->
  <div
    class="cart"
    *ngIf="isLogged && !isAdmin"
    routerLink="/carrito">

    👜
    <span class="badge" *ngIf="cantidad > 0">
      {{ cantidad }}
    </span>
  </div>

  <li *ngIf="isAdmin">
  <a routerLink="/admin">👑 Panel administrador</a>
</li>

</header>


<!-- MENÚ HAMBURGUESA -->
<div class="side-menu" [class.open]="menuAbierto">
  <ul>

    <h3>Tu página de confianza</h3>

    <!-- CLIENTE -->
    <li *ngIf="isLogged && !isAdmin">
      <a routerLink="/carrito">👜 Mi carrito</a>
    </li>

    <li *ngIf="isLogged && !isAdmin">
  <button class="link-btn"
          (click)="abrirPDF('assets/promociones-mar-de-soles.pdf')">
    🤠 Nueva colección
  </button>
</li>

<li *ngIf="isLogged && !isAdmin">
  <button class="link-btn"
          (click)="abrirPDF('assets/compras-mayoristas.pdf')">
    📈 Compras mayoristas
  </button>
</li>


    <!-- ADMIN -->
    <li *ngIf="isAdmin">
      <a routerLink="/admin/productos">📦 Agregar productos</a>
    </li>

    <li *ngIf="isAdmin">
      <a routerLink="/admin/categorias">📂 Crear categorias</a>
    </li>

    <li *ngIf="isAdmin">
      <a routerLink="/admin/categorias">📂 Desactivar usuarios</a>
    </li>

    <!-- CERRAR SESIÓN -->
    <li *ngIf="isLogged">
      <button class="logout-btn" (click)="logout($event)">
        🚪 Cerrar sesión
      </button>
    </li>

    <!-- NO LOGUEADO -->
    <li *ngIf="!isLogged">
      <a routerLink="/login">🔐 Iniciar sesión</a>
    </li>

  </ul>
</div>

<div class="overlay"
     *ngIf="menuAbierto"
     (click)="toggleMenu()">
</div>
