.carrito-container {
  padding: 40px 80px;
  background: #fff;
}

.titulo-carrito {
  text-align: center;
  color: #d57283;
  font-size: 30px;
  margin-top: 70px;
}

/* GRID TABLA */
.carrito-grid {
  display: grid;
  grid-template-columns: 1.2fr .4fr .4fr .4fr;
  row-gap: 25px;
}

.col-titulo {
  font-weight: 600;
  color: #555;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.center {
  text-align: center;
}

.carrito-item {
  display: contents;
}

/* PRODUCTO */
.producto-info {
  display: flex;
  gap: 15px;
  align-items: center;
}

.producto-img {
  width: 80px;
  border-radius: 10px;
}

.producto-nombre {
  font-weight: 600;
  color: #222;
  margin: 0;
}

.btn-eliminar {
  border: none;
  background: none;
  color: #999;
  font-size: 13px;
  cursor: pointer;
}

.btn-eliminar:hover {
  color: #ff4fa3;
}

.precio,
.subtotal {
  text-align: center;
  font-weight: 600;
}

/* CANTIDAD */
.cantidad-box {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
}

.cantidad-box button {
  width: 26px;
  height: 26px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
}

.cantidad-box button:hover {
  border-color: #ff4fa3;
}

/* RESUMEN */
.resumen {
  text-align: right;
  margin-top: 30px;
}

.subtotal-texto {
  color: #ff4fa3;
  font-weight: 900;
}

/* 🔹 CONTENEDOR FLEX DE BOTONES */
.botones-carrito {
  display: flex;
  justify-content: flex-end;
  gap: 9px;
}

/* BOTÓN VACIAR */
.btn-vaciar {
  background: #d4d4d4;
  border: none;
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-vaciar:hover {
  background: #eecfcf;
}

/* BOTÓN PAGAR */
.btn-pagar {
  background: #d57283;
  color: white;
  border: none;
  padding: 12px 40px;
  border-radius: 12px;
  font-weight: 700;
  cursor: pointer;
}

.btn-pagar:hover {
  opacity: .85;
}

button[disabled] {
  opacity: .5;
  cursor: not-allowed;
}

/* 🧩 CARRITO VACÍO */
.empty-cart-container {
  --shadow: 0 5px 15px #08080826;
  --shadow-active: 0 5px 5px #0e0d0d26;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background: linear-gradient(#fafafa,#ebebeb);
  padding: 2rem 2.5rem;
  margin: 6rem auto;

  border-radius: 14px;
  box-shadow: var(--shadow);
  transition: .2s ease all;
  max-width: 500px;
}

.empty-cart-container:hover {
  box-shadow: var(--shadow-active);
}

.cart-icon {
  width: 70px;
  opacity: .85;
  transition: .25s;
}

.cart-icon:hover {
  transform: scale(1.08);
  opacity: 1;
}

.btn-primary {
  margin-top: .5rem;
  padding: .8rem 1.8rem;
  border-radius: 12px;
  font-weight: 600;
  background: #ff7cac;
  border: none;
  color: white;
  cursor: pointer;
}

.btn-primary:hover {
  transform: translateY(-1px);
  background: #fcb6cc;
}
